*{
    margin: 0;
    font-family: Arial;
    font-weight: 200;
}
body{
    background-color: black;
}
div.cell{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    background-color: #cacaca;
    float: left;
}
div.column{
    height: 240px;
    width: 30px;
}
div.row{
    height: 30px;
    width: 330px;
}
div.game{
    max-width: 318px;
    max-height: 309px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px !important;
}
span{
    color: white;
}
button{
  margin: 5px;
  font-size: 24px;
  border-radius: 5px;
  border: 0px solid #fff;
}
h1, h2, h3, h4, h5, h6{
    color:white;
}
